/*Author: Alexander Denton
  ID: 21002180
  Date: 14/01/2024
  Assignment 1 Style sheet
*/

/*Style accross each page and for header*/
body {
	font-family: sans-serif;
	margin: 0px;
}

header {
	display: flex;
	width: 100%;
	height: 10vh;
	background-color: #BE1622;
}

.logo img {
	padding: 1em;
	height: 10vh;
	object-fit: contain;
}

.siteName {
	margin: 1em;
	font-size: 2em;
	color: ghostwhite;
}

nav {
	margin-left: auto;
	position: relative;
}

input {
	border: 0.2em solid red;
	border-radius: 3em;
	padding: 0.8em;
	background-color: #6778b1;
	color: ghostwhite;
	font-size: 1.1em;
}

input::placeholder {
	color: silver;
}

input:hover[type=submit] {
	background-color: #485a94;
	color: silver;
}

/*for desktop navigation*/
#desktopNav{
	display:block;
}

#desktopNavList {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

#desktopNavList li {
	text-align: center;
	font-size: 1.5em;
	padding: 0.1em;
	margin: 1em;
}

#desktopNavList a {
	text-decoration: none;
	color: ghostwhite;
}

#desktopNavList a:hover {
	color: gainsboro;
}

/*for mobile navigation*/
#mobileNav{
	display: none;
	text-align: right;
	background-color: #BE1622;
}

#mobileNav a.icon {
	text-decoration: none;
	color: ghostwhite;
	display: block;
	padding: 0.1em;
	margin: 0.9em;
	font-size: 1.5em;
}

#mobileNavList {
	display: none;	/* to hide links unless icon is pressed*/
	flex-direction: column;
	list-style-type: none;
	background-color: #BE1622;
}

#mobileNavList li {
	text-align: right;
}

#mobileNavList a {
	text-decoration: none;
	color: ghostwhite;
	display:block;
	padding: 0.5em;
	margin: 0.9em;
	font-size: 1.5em;
}

#mobileNavList a:hover {
	background-color: #9c121b;
	color: black;
}

/*Style for the main of website*/
main {
	margin: auto;

	flex-wrap: wrap;
	width: 70%;
	background-color: #ffffff;
	padding: 1em;
	min-height: 64.5vh;
}

/*style for headers*/
h1 {
	font-size: 3.5em;
	color: #0099D2;
}

h2 {
	font-size: 2em;
	color: #F2BE1A;
}

.media {
	width: 100%;
	padding: 1em;
	border-radius: 1em;
}

iframe {border: none;}

/*style for live offers*/
#liveOffers ul {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

#liveOffers li {
	list-style-type: none;
	background-color: #e9e9e9;
	border: 0.2em solid grey;
	border-radius: 1em;
	padding: 1em;
	width: 325px;
	height: 225px;
	margin: 1%;
}

/*style for the products.html*/
aside {
	display: block;
	width: 10%;
}

#productTopLink a {
	position: fixed;
	top: 50%;
	left: 0.5em;
	text-decoration: none;
	color: ghostwhite;
	background-color: #34516C;
	padding: 1em;
    border-radius: 2em;
}

/* Style for product filter */

#productFilter {
	padding: 4%;
	display: flex;
	flex-wrap: wrap;
}

#productNameFilter {
	border-radius: 3em;
	margin: 2%;
}

#productTypeFilter {
	width: 25%;
	padding: 16px 20px;
	border: none;
	border-radius: 3em;
	border: 0.2em solid red;
	background-color: #6778b1;
	color: ghostwhite;
	font-size: 1.1em;
	margin: 2%;
}

#productTypeSubmit {
	margin: 2%;
}

/* end of style for product filter */

#productList {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	list-style-type: none;
}

.product {
	border: 0.2em solid black;
	width: 325px;
	margin: 0.8em;
}

.productImage img {
	width: 100%;
	object-fit: contain;
}

.productInfo {
	padding: 0.9em;
	background-color: #e9e9e9;
}

.price {
	font-weight: bold;
}

/*Style for item.html*/
#itemList {
	list-style-type: none;
	
}

.item {
	margin:auto; 
	display:block;
	border: 0.2em solid black;
	width: 50%;
}

.itemImage img {
	width: 100%;
	object-fit: contain;
}

.itemInfo {
	padding: 0.9em;
	background-color: #e9e9e9;
}

.buyButton {
	margin:auto; 
	display:block;
}

/* For cart.html */
td {
	text-align: center;
}

.cartImage {
	height: 10vh;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#emptyCartForm input[type=submit] {
	position: fixed;
	top: 50%;
	right: 0.5em;
}

#checkout {
	text-align: center;
}

/* Signup.html */
#signup {
	margin:auto; 
	display:block;
	border: 0.2em solid black;
	width: 75%;
	padding: 0.9em;
	background-color: #e9e9e9;
	text-align: center;
}

#signup textarea {
	height: 150px;
	width: 300px;
	border: 0.2em solid red;
	border-radius: 3em;
	padding: 0.8em;
	background-color: #6778b1;
	color: ghostwhite;
	font-size: 1.5em;
}

#signup textarea::placeholder {
	color: silver;
}

.verifiedInput {
	color: Green;
}

.notVerifiedInput {
	color:red;
	font-weight: bold;
}

/* Footer */
footer {
	padding: 2em;
	text-align: center;
	background: #34516C;
	display: flex;
	flex-wrap: wrap;

	/*clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;*/
}

.footerSection {
	width: 33%;
	padding: 1em;
	color: ghostwhite;
}

* {
	box-sizing: border-box;
}

/*Media Quereies to be used on the header*/
@media only screen and (max-width: 990px) {
	.siteName {
		margin: 1.7em;
		font-size: 1.5em;
	}

	#desktopNavList li {
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 870px) {
	#mobileNav {
		display: block;
	}

	#desktopNav {
		display: none;
	}

	.logo img {
		height: 7vh;
	}

	.siteName {
		margin: 0.5em; 
		font-size: 1.5em;
	}

	header {
		height: 7vh;
	}

	h2 {
		font-size: 1.5em;
	}
}